<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no" />
    <title>Correlated IT skills</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
  </head>
  <body ng-app="app" ng-cloak ng-controller="mainCntrl" data-ng-init="filterStuff();">
    <div class="row">
      <div class="large-12 columns">
        <h1>Correlated skills by location</h1>
        <hr/>
      </div>
    </div>

    <div class="row" style="position:relative;">

      <aside class="large-2 small-2 columns panel location">
        <h5>Location</h5>
        <ul class="scrollmenu">
          <li ng-repeat="location in locations">
            <input ng-model="$parent.selected_location" type="radio" name="locations" ng-value="location" id="location_[[ location ]]">
            <label for="location_[[ location ]]">[[ location ]]</label>
          </li>
        </ul>
      </aside>

      <div class="large-8 small-6 columns" role="content">
        <article>
          <chord-diagram></chord-diagram>
          <h6 class="text-center">Correlated skills in <span>[[ selected_location ]]</span></h6>
        </article>
      </div>

      <aside class="large-2 small-4 columns">
        <h5>Filters</h5>
        <button class="button tiny right" ng-click="filters = {}; hasFilters = false;">
          clear
        </button>
        <div class="panel">
          <div ng-if="hasFilters === false" style="margin: 15px; opacity: 0.5;">
            Click a country
          </div>
          <ul class="side-nav">
            <li ng-repeat="filter in filters">
              <input ng-model="filter.hide" id="[[ filter.name ]]" type="checkbox">
              <label for="[[ filter.name ]]">[[ filter.name ]]</label>
            </li>
          </ul>
        </div>
      </aside>

      <fieldset id="tooltip" class="row secondary">
        <div class="large-12 small-12 columns">
          <h6>[[ qFormat(tooltip.svalue) ]] job postings with both [[ tooltip.sname ]] and [[ tooltip.tname ]]</h6>
          [[ pFormat(tooltip.svalue/tooltip.stotal) ]] of [[ tooltip.sname ]]'s Postings (total of [[ qFormat(tooltip.stotal) ]]) <br/>
          [[ pFormat(tooltip.tvalue/tooltip.ttotal) ]] of [[ tooltip.tname ]]'s Postings (total of [[ qFormat(tooltip.ttotal) ]])
        </div>
      </fieldset>

    </div>

    <footer class="row">
      <div class="large-12 columns">
        <ul class="inline-list left">
          <li>Based on <a target="_blank" href="https://github.com/sghall/chord-transitions">https://github.com/sghall/chord-transitions</a></li>
        </ul>
      </div>
    </footer>

    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/mainController.js"></script>
    <script src="/static/js/matrixFactory.js"></script>
    <script src="/static/js/chordDirective.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
